**/node_modules
**/package-lock.json
.env
.vscode
.DS_Store
backend/main/logs/*
elk/elasticsearch/data/*
logs/*
monitoring/grafana/data/*
monitoring/prometheus/data/*
vault/data
vault/secrets
backend/main/certs/*
backend/main/logs/*
*.log
