/* Battleship styles */
.board-button {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.board-button:disabled {
  background: #000000;
}

.board-button:hover:enabled {
  background: #e62626;
}

.board-row:after {
  clear: both;
  content: '';
  display: table;
}
/* 
.board-row {
  margin: ;
} */

/* .battleship-local {
  display: grid;
  grid-template-columns: repeat(13, 1fr);
  grid-template-rows: minmax(100px, auto);
  grid-template-areas: 
    "hd hd hd hd hd hd hd hd hd hd hd hd hd"
    "ls ls b1 b1 b1 md md md b2 b2 b2 rs rs"
    "ls ls b1 b1 b1 md md md b2 b2 b2 rs rs"
    "ls ls b1 b1 b1 md md md b2 b2 b2 rs rs";
} */